<nav id="appNavBreadcrumbs" aria-label="breadcrumb">
    <div class="progress">
        <h6 id="progressTitle">
            Progress
        </h6>
        <ol class="breadcrumb">
            <li id="breadcrumbItem1" class="breadcrumb-item"><a id="pickFilesTitle" class="hvr-bounce-to-right" href="/import/pick">Pick files</a></li>
            <li id="breadcrumbItem2" class="breadcrumb-item"><a id="convertTitle" class="hvr-bounce-to-right" href="/import/convert">Choose converter</a></li>
            <li id="breadcrumbItem3" class="breadcrumb-item"><a id="transformTitle" class="hvr-bounce-to-right" href="/import/transform">Choose transformations</a></li>
            <li id="breadcrumbItem4" class="breadcrumb-item"><a id="summaryTitle" class="hvr-bounce-to-right" href="/import/summary">Summary</a></li>
        </ol>
    </div>
</nav>