<div id="appFlashMessages" class="container">
    <div id="alertSuccess" class="alert alert-success">
        <strong id="successText">Success!</strong> <span id="alertSuccessValue">Message</span>
        <a href="#" class="float-right close-alert-btn">
            <i class="fas fa-times-circle"></i>
        </a>
    </div>
    <div id="alertInfo" class="alert alert-info">
        <strong id="infoText">Info!</strong> <span id="alertInfoValue">Message</span>
        <a href="#" class="float-right close-alert-btn">
            <i class="fas fa-times-circle"></i>
        </a>
    </div>
    <div id="alertWarning" class="alert alert-warning">
        <strong id="warningText">Warning!</strong> <span id="alertWarningValue">Message</span>
        <a href="#" class="float-right close-alert-btn">
            <i class="fas fa-times-circle"></i>
        </a>
    </div>
    <div id="alertDanger" class="alert alert-danger">
        <strong id="dangerText">Danger!</strong> <span id="alertDangerValue">Message</span>
        <a href="#" class="float-right close-alert-btn">
            <i class="fas fa-times-circle"></i>
        </a>
    </div>
</div>