<section id="appFooter" class="container-fluid bg-light">
    <div id="footerCollapse" class="collapse dropup bg-info" data-parent="#footerAccordion">
        <div class="container-fluid footer-collapse-container">
            <div class="row footer-row">
                <div class="col-sm-12 col-md-6 col-lg-3 footer-column">
                    <div id="copasInfo">
                        <h3 id="footerContainerInfo" class="footer-header">Container Info:</h3>
                        <p>
                            <i class="fas fa-info icon"></i>
                            <span id="footerCopasVersion" class="footer-text">CopAS Version:</span>
                            <span id="footerCopasVersionValue" class="footer-text">-</span>
                        </p>
                        <p>
                            <i class="fas fa-info icon"></i>
                            <span id="footerCopasImage" class="footer-text">CopAS Image Version:</span>
                            <span id="footerCopasImageValue" class="footer-text">-</span>
                        </p>
                    </div>
                    <h3 id="footerApp" class="footer-header">Application:</h3>
                    <p>
                        <span class="dashed">
                            <a id="footerAbout" class="footer-text hvr-underline-from-left">About</a>
                        </span>
                        <!--<span id="footerAdminLogin" class="dashed">-->
                            <!--<a id="footerAdminLoginBtn" class="footer-text hvr-underline-from-left">-->
                                <!--Admin Login-->
                            <!--</a>-->
                        <!--</span>-->
                    </p>
                    <!--<div id="footerAdminButtons">-->
                        <!--<h3 id="adminHeader" class="footer-header">Admin:</h3>-->
                        <!--<span id="adminHomeSpan" class="dashed">-->
                            <!--<a id="adminHomeLink" class="footer-text hvr-underline-from-left">Admin home</a>-->
                        <!--</span>-->
                        <!--<span id="adminHistorySpan" class="dashed">-->
                            <!--<a id="adminHistoryLink" class="footer-text hvr-underline-from-left" href="#">History</a>-->
                        <!--</span>-->
                        <!--<span class="dashed">-->
                            <!--<a id="footerSettings" class="footer-text hvr-underline-from-left">Settings</a>-->
                        <!--</span>-->
                        <!--<div id="adminLogoutHolder" class="dashed">-->
                            <!--<form id="adminLogoutForm" action="/logout" method="post" class="hvr-underline-from-left">-->
                                <!--<input id="adminLogoutFormBtn" type="submit" value="Sign Out"-->
                                       <!--class="footer-text"/>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 footer-column">

                    <!--<p>-->
                        <!--<i class="fas fa-envelope icon"></i>-->
                        <!--<a id="footerSupervisorMail" class="footer-text hvr-underline-from-left">rebok@ics.muni.cz</a>-->
                    <!--</p>-->
                    <h3 id="footerLanguage" class="footer-header">Language:</h3>
                    <p>
                        <span class="dashed">
                            <a id="footerCzechLanguage" class="footer-text hvr-underline-from-left">Czech</a>
                        </span>
                        <span class="dashed">
                            <a id="footerEnglishLanguage" class="footer-text hvr-underline-from-left">English</a>
                        </span>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 footer-column">
                    <a href="https://www.cerit-sc.cz/" target="_blank" class="hvr-grow footer-logo-link">
                        <div class="image-holder ceritLogo">
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 footer-column">
                    <a href="https://www.ics.muni.cz/" target="_blank" class="footer-logo-link hvr-grow">
                        <div class="image-holder icsLogo">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-row">
        <div class="col col-sm-11">
            <div class="row">
                <div class="col">
                    <h6 class="footer-header">
                        <i class="fas fa-school"></i>
                        -
                        <span id="footerInstitute"></span>
                    </h6>
                </div>
                <div class="col text-right">
                    <h6 id="footerContact" class="footer-header d-inline-block">Contact:</h6>
                    <h6 class="d-inline-block">
                        <i class="fas fa-envelope icon"></i>
                        <a id="footerSupervisorMail" class="footer-contact-text hvr-underline-from-left">rebok@ics.muni.cz</a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col col-sm-1">
            <div id="footerAccordion" class="accordion">
                <div class="card mb-0">
                    <a class="btn collapsed" data-toggle="collapse" aria-expanded="true"
                       aria-controls="footerCollapse" href="#footerCollapse">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>